header{
    background-color: ;
    color: rgb(100, 8, 8);
    font-size: 5vw;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#add-task-form {
    max-width: 50vw;
    margin: 1vw auto;
    background-color: #fff;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  #task-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  #task-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  button[type="submit"] {
    background-color: #007bff;
    margin-left: 1vw;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
.container{
    margin-left: 10vw;
    display: flex;
    align-items: center;
    font-size: 1vw;
}
#varful{
    margin-top: 2vw;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-left: 2vw solid black;
}
.textul{
    text-align: center;
    margin-top: 0.85vw;
}
.textul2{
   margin-left: 1vw;
    margin-top: 0.7vw;
}
#goal1{
    width: 10vw;
    text-align: center;
    font-size: 2vw;
}

#goal2{
    width: 50vw;
    font-size: 2vw;
}
#goal3{
    margin-left: 0;
}
#done{
    background-color: pink;
    margin-top: 2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    display: flex;
    padding-left: 1vw;
    justify-content: space-between;
    height: 2vw;
}
#not_done{
    background-color: aqua;
    border-radius: 1vw;
    display: flex;
    padding-left: 1vw;
    height: 2vw;
    justify-content: space-between;
}
.goal{
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 2vw;
        background-color: pink;
        border-radius: 2vw;
        height: 5vw;
}
#is_done{
    text-align: center;
    width: 10vw;
}
.dot{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    margin-top: 0.25vw;
    margin-right: 0.5vw;
    background-color: white; 
  }
    
  #add-task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  #task-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #task-input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #007bff;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }
  